body {
  background-image: url(https://giffiles.alphacoders.com/567/56778.gif);
}
.face {
  display: inline-block;
}
.card {
  width: 50%;
  height: 30rem !important;
  margin: 70px auto 10px auto !important;
}

.container {
  text-align: center;
}
.lapTime {
  width: 40%;
  margin: 40px auto 10px auto;
}
@media only screen and (max-width: 576px) {
  .container,
  .card {
    width: 100% !important;
  }
}
@media only screen and (max-width: 307px) {
  svg {
    width: 1em;
    height: 1.5em;
  }
  .lapTime {
    width: 90%;
  }
}
